{% load static %}
{% include 'parent/header.html' %}
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
<section>
<div class="container">
<table class="table table-hover table-dark border-light">
  <tr>
      <th>Student id</th>
    <th>Student Name</th>
    <th>Email</th>
{#      <th>Document</th>#}
{#      <th>Open/Download</th>#}
{#      <th>Document</th>#}
  </tr>
    {% for i in model %}
  <tr>
  <td>{{i.student.id }}</td>
    <td>{{i.student.name }}</td>
      <td>{{ i.student.email }}</td>


  </tr>
    {% endfor %}
</table>
</div>
</section>
{% include 'footer.html' %}





